h1 {
  color: #022867;
  font-size: 36pt;
}

p {
  color: black;
  font-size: 16pt;
}

button {
  font-size: 18pt;
}

.container {
  color: black;
  font-size: 16pt;
}

.jumbotron {
  padding: 2rem 1rem;
  background-color: #fff;
}

.text-justify {
  text-align: justify;
}

.pertanyaan-judul {
  text-align: justify;
  font-size: medium;
}

.dropdown-judul {
  text-align: justify;
  font-size: medium;
  color: grey;
}
