p {
  color: black;
  font-size: 16pt;
}

.container {
  color: black;
  font-size: 16pt;
}

.jumbotron {
  padding: 2rem 1rem;
  background-color: #fff;
}

.text-justify {
  text-align: justify;
}

.pertanyaan-judul {
  text-align: justify;
  font-size: medium;
}

.dropdown-judul {
  text-align: justify;
  font-size: medium;
  color: grey;
}

.text_homepage {
  text-align: justify;
  text-justify: inter-word;
  font-size: small;
}